

/*LOADING PAGE CSS*/
@font-face {
   font-family: oswald-light;
   src: url(www/font/oswald/Oswald-Light.ttf);
}
@font-face {
   font-family: oswald-regular;
   src: url(www/font/oswald/Oswald-Regular.ttf);
}
.oswald-light{
    font-family: oswald-light;
}
.oswald-regular{
    font-family: oswald-regular;
}

/*VIEW CONTAINER*/
.cat-tab{
    margin-bottom: 200px;
}
/*VIEW CONTAINER END*/


/*VIEW*/
.pages-title {
    margin: 20px 0;
}
#loading-data{
    float: left;
    width: 100%;
    margin: 3px 0 10px 0;
}
#madsw{
    width: 100%;
    float: left;
}
/*VIEW END*/

/*ADS CSS*/
.sin-ad {
    margin: 0 0 7px 0;
}
/*END*/

.cat-text-holder span{
    background: rgba(0, 0, 0, 0.62);
    border-radius: 3px;
    padding: 5px;
}
.team-member .team-img {
    margin: -15px -15px 0 -15px;
}
.team-member {
    height: 600px;
    overflow-y: auto !important;
    overflow: hidden;
    color: #FFD402;
    padding: 13px;
    background: #1F1F1F;
    border: 2px solid #828282;
    transition: border-color 400ms;
    -webkit-transition: border-color 400ms;
}
.team-member-sm {
    height: auto !important;

}
.other-team-member-sm {
    overflow-y: auto !important;
    overflow: hidden;
    color: #FFD402;
    padding: 13px;
    background: #1F1F1F;
    border: 2px solid #828282;
    transition: border-color 400ms;
    -webkit-transition: border-color 400ms;
}
.team-image-tag{
    width: 100%;
}
.team-member .team-img {
    margin: -15px -15px 0 -15px;
}
#team .social-icons>li {
    display: inline-block;
}
.team-member .team-info {
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 10px;
}
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}
#team .team-member:hover .social-icons>li>a {
    background: #45aed6 !important;
}
#team .social-icons>li>a {
    display: block !important;
    width: 32px !important;
    height: 32px !important;
    line-height: 32px !important;
    text-align: center !important;
    color: #fff !important;
    background: #28315D !important;
    border-radius: 3px !important;
}
.team-member:hover {
    border-color: #45aed6 !important;
}
.product-image-wrapper {
    min-height: 396px;
    border-radius: 10px;
    background: white;
    border: 1px solid #E2E1E1;
    box-shadow: 0px 0px 1px #C7C7C7;
}
.pr-img {
    height: 236px;
    max-height: 236px;
    background: white;
    overflow: hidden;
}
.single-products {
    position: relative;
    overflow: hidden;
}
.ad-image {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 236px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.infoholder{
    word-break: break-all;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        .sm-view{
            display: none;
        }
        .md-view{
            display: block;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .sm-view{
            display: none;
        }
        .md-view{
            display: block;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .sm-view{
            display: none;
        }
        .md-view{
            display: block;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 650px) {
        .md-view{
            display: none;
        }
        .sm-view{
            display: block;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .md-view{
            display: none;
        } 
        .sm-view{
            display: block;
        }     
    }
