.ptrwrap,.ptrwrapa{
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 30%;
  transition: all 0.3s ease;
  opacity: 0;
  text-align: center;
}
.ptricona,.ptricon{
    font-size: 31px !important;
}
.ptriwrappera,.ptriwrapper{
  width: 60px;
  background-color: #438eff;
  height: 60px;
  padding-top: 13.5px;
  border-radius: 60px;
  margin: 0 auto;
  color: white;
  box-shadow: 0px 0px 13px grey;
  border: 1px solid #cccccc;
}
#load-more-dash,#load-more-profile{
    position: relative;
    bottom: 20px;
    margin-bottom: 40px;
}
.modalb hr{
  margin-top: 0 !important; 
  margin-bottom: 0 !important; 
}

._nw{
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modalb ._nw:last-child {
    border-bottom: none !important;
}
.opacity-0{
  opacity: 0 !important;
}
.obf-email{
  float: left;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}
.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: .125rem;
}
.show>.dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}
.dropup .dropdown-toggle::after {
    border-top: 0;
    border-bottom: .3em solid;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: #292b2c;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
#avpbc{
  margin: 10px 0 50px 0;
}
#dtbtn{
  margin-right: 20px;
}
#ptr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 10;
  text-align: center;
  height: 50px;
}

#ptr .genericon {
  opacity: .6;
  font-size: 34px;
  width: auto;
  height: auto;
  transition: all .25s ease;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 5px;
}
.ptr-refresh #ptr .genericon {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.ptr-loading #ptr .genericon,
.ptr-reset #ptr .genericon {
  display: none;
}

.loading {
  display: inline-block;
  text-align: center;
  opacity: .4;
  margin: 12px 0 0 5px;
  display: none;
}
.ptr-loading .loading {
  display: block;
}

.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  border-radius: 50%;
  -webkit-animation: ptr-loading 0.4s infinite alternate;
  animation: ptr-loading 0.4s infinite alternate;
}

#l1 {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

#l2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#l3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes ptr-loading {
  0% {
    -webkit-transform: translateY(0) scale(0.3);
    transform: translateY(0) scale(0.3);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #fff;
    opacity: 1;
  }
}

@keyframes ptr-loading {
  0% {
    -webkit-transform: translateY(0) scale(0.3);
    transform: translateY(0) scale(0.3);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #fff;
    opacity: 1;
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
/*dashboard*/
.twPc-div {
    background: #fff none repeat scroll 0 0;
    /*border: 1px solid #e1e8ed;*/
    /*border-radius: 6px;*/
    height: 200px;
    width: 100%;
}
.list-block2 {
  margin: 0 -15px 27px -15px !important;
}
.twPc-bg {
    background-color: #438eff;
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    /*border-radius: 4px 4px 0 0;*/
    height: 95px;
    width: 100%;
}
.mlb2 .posmore,.mlb2 .ad-dis, .mlb .posdelete,.mlb3 .posdelete,.mlb3 ._vaprofile{
  display: none;
} 
.tmago{
  font-size: 10px;
  color: #6d6d6d;
  text-transform: uppercase;
}
.ad-dis {
    position: absolute;
    right: 11px;
    top: 60px;
    background: #438eff !important;
    line-height: 21px !important;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -47px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -51px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    position: relative;
    background-size: 79px;
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.ad-cap{
  padding-left: 9px;
}

#change-pro-img {
    bottom: 0;
    right: 0;
    position: absolute;
    font-size: 11px !important;
}
.twPc-divUser {
  margin: 7px 0 0;
}
.infinite-scroll-preloader2 {
  padding: 5px 0 51px 0 !important;
  margin-bottom: 6px !important;
}
.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.follow-user,.unfollow-user{
  color:#438eff !important;
}
#all-post-preloader{
  padding-top: 10px !important;
}
.twPc-divName a {
    color: inherit;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 27px 0px;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 10px 0 0 0;
}
.list-block ul:after {
  background-color: transparent !important;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    text-align: center;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}
/*dashboard*/




  body {
    font-size: 16px !important;
  }
  .searchbar {
    background: white !important;
  }
  /*NAVABR CUSTOM COOP*/
  .nav-vertical-seperator{
    line-height: 49px;
    color: whitesmoke;

  }
  .thimages{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center;
    width: 100%;
    height: 400px;
  }
  .thumbnail{
    border: none !important;
    box-shadow: none !important;
  }
  .list-block .item-inner:after{
    display: none !important;
  }
  .poswrap{
    width:100%;
    height:30px;
    padding: 0 9px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .mlb ul li:first-child .mli{
    padding-top: 0 !important;
  }
  .center-cropped {
    background-position: top center;
    background-repeat: no-repeat;
  }
  .pro-img{
    width: 100%;
    /*height: 300px;*/
  }
  ._cutimage{
    /*height: 800px;*/
    overflow: hidden;
    border-radius: 0 !important;
  }

  ._imgwrap{
    position: relative;
  }
  .imgcover{
    width: 100%;
    color: rgb(0, 122, 255);
    font-weight: 600;
    font-size: 15px;
    height: 52px;
    background: rgba(0, 0, 0, 0.98);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
  }
  .imgcover:after, 
  .imgcover:before {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
  }
  
  .imgcover:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: black;
      border-width: 8px;
      left: 70%;
      margin-left: -19px;
  }
  .imgcover:before {
      border-color: rgba(113, 158, 206, 0);
      border-bottom-color: rgba(0, 0, 0, 0.37);
      border-width: 10px;
      left: 70%;
      margin-left: -21px;
  }
  .imgcover:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: black;
      border-width: 8px;
      left: 20%;
      margin-left: -19px;
  }
  .imgcover:before {
      border-color: rgba(113, 158, 206, 0);
      border-bottom-color: rgba(0, 0, 0, 0.37);
      border-width: 10px;
      left: 20%;
      margin-left: -21px;
  }
  .ictext{
    line-height: 52px;
  }
  #_i{
    display: none;
  }
  .posname{
    float: left;
  }
  .posmore, .posdelete{
    padding-top: 6px;
    float: right;
  }
  .t-wr{
    padding: 0 !important;
  }
  .t-wr .thumbnail{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #v6pc{
    padding: 18px 0 !important;
  }
  .infinite-scroll-preloader {
    margin-top:-20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .infinite-scroll-preloader .preloader {
    width:34px;
    height:34px;
  }      
  .mlb{
    margin: 0px 0 !important;
  }
  .mlc{
    padding-left: 0 !important;
  }
  .mli{
    padding: 10px 0 10px 0 !important;
  }
  .t-wr{
    width: 100%;
  }
  .fwi{
    width: 100%;
  }
  #pt p, #pd p,#pt h3{
    margin:0;
  }
  #pt{
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
  }
  #pd{
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
  }
  #pi{
    padding: 10px 0 0 0;
    margin-bottom: 0;    
  }
  #_pm{
    padding: 10px 0 0 0;
    margin-bottom: 0;      
  }
  #rv{
    padding: 10px 10px 0 10px;
  }
  #_pcom{
    padding: 10px 10px 0 10px; 
  }
  #vmfooter{
    padding: 10px 10px 15px 10px;
  }
  ul.comments {
    margin-bottom: 0 !important;
  }
  .gm-style .gm-style-iw {
    font-size: 14px !important;
  }
  .btn-social.btn-sm>:first-child {
      line-height: 36px !important;
  }
  /*END*/
  .label-div-s,.label-div-p,.label-div-i{
    /*padding: 3px 0;*/
  }
  .list-block input[type="text"], .list-block input[type="password"], .list-block input[type="search"], .list-block input[type="email"], .list-block input[type="tel"], .list-block input[type="url"], .list-block input[type="date"], .list-block input[type="datetime-local"], .list-block input[type="time"], .list-block input[type="number"], .list-block select, .list-block textarea{
    font-size: 19px !important;
  }
  .list-block {
      font-size: 19px !important;
  }
  .btn {
    font-size: 16px !important;
  }
  #pi{
    -webkit-transition: opacity 1s;
    transition: opacity 1s;  
  }
  .nat{
    font-weight: bold !important;
    font-size: 26px !important;
  }
  .nades{
    font-size: 16px !important;
  }
  .mttop{
    position: absolute;
    top: 20px;
    left: 2%;
    z-index: 99999;
    width: 96%;
    height: 200px !important;
    border: 1px #a2a2a2 solid !important;
    -webkit-box-shadow: 0px 0px 26px 0px rgba(50, 50, 50, 1) !important;
    -moz-box-shadow: 0px 0px 26px 0px rgba(50, 50, 50, 1) !important;
    box-shadow: 0px 0px 26px 0px rgba(50, 50, 50, 1) !important;
  }
  .hunh{
    height: 1000px;
  }
  .list-block .item-title.label7 {
  width: 35%;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  }
  .list-block .item-title.label7 {
  vertical-align: top;
  }
  /*My LOADING GIF*/
  .cssload-loader {
    margin-top: 40px;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    perspective: 1200;
    -o-perspective: 1200;
    -ms-perspective: 1200;
    -webkit-perspective: 1200;
    -moz-perspective: 1200;
  }

  .cssload-flipper {
    position: relative;
    display: block;
    height: inherit;
    width: inherit;
    animation: cssload-flip 1.38s infinite ease-in-out;
    -o-animation: cssload-flip 1.38s infinite ease-in-out;
    -ms-animation: cssload-flip 1.38s infinite ease-in-out;
    -webkit-animation: cssload-flip 1.38s infinite ease-in-out;
    -moz-animation: cssload-flip 1.38s infinite ease-in-out;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
  }

  .cssload-front,
  .cssload-back {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: rgba(0,174,255,0.83);
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }

  .cssload-back {
    background-color: rgb(0,0,0);
    z-index: 800;
    transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
  }



  @keyframes cssload-flip {
    0% {
      transform: perspective(135px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(135px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      transform: perspective(135px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  @-o-keyframes cssload-flip {
    0% {
      -o-transform: perspective(135px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      -o-transform: perspective(135px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      -o-transform: perspective(135px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  @-ms-keyframes cssload-flip {
    0% {
      -ms-transform: perspective(135px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      -ms-transform: perspective(135px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      -ms-transform: perspective(135px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  @-webkit-keyframes cssload-flip {
    0% {
      -webkit-transform: perspective(135px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      -webkit-transform: perspective(135px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      -webkit-transform: perspective(135px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  @-moz-keyframes cssload-flip {
    0% {
      -moz-transform: perspective(135px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      -moz-transform: perspective(135px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      -moz-transform: perspective(135px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
  /*MY LOADING GIF END*/
  .modal{
    z-index: 9999;
  }
  .break_all{
    word-break: break-all;
  }

  #city-search{
    background-color: #00AEFF;
    padding: 10px 10px 10px 10px;
    border-top: 1px dotted #039BE2;
  }
  .my-form-control{
    height: 24px !important;
    padding: 0px 11px !important;
    font-size: 12px !important;
  }

  .label-holder{
    padding: 0;
    bottom: 0;
    position: relative;
    width: 100%;
    margin-bottom: 1px;
  }
  .label-div-s{
    background-color: #5cb85c;
  }
  .label-div-p{
    background-color: #337ab7;
  }
  .label-div-i{
    background-color: #5bc0de;
  }
  .my-col{
    padding-right: 3px !important;
    padding-left: 3px !important;
  }
  .my-nav{
    background: #00AEFF !important;
    border-radius: 0 !important;
    border: none;
  }
  .my-nav .navbar-nav>li>a {
    color: white;
  }
  .navbar-brand{
    color: white !important;
  }
  .navbar-toggle {
    background-color: transparent !important;
    border: none !important;
  }
  .qkpost-btn-sm{
    border-radius: 0;
    background: #00AEFF;
    border:none;
    border-top: 1px solid white;  
  }
  .tab-c{
    color: white;
    cursor: pointer;
  }
  .tab-active{
    border-bottom-width: 1px;
    border-style: none none solid;
    border-bottom-color: white;
  }
  .cat-image {
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
  }
  .cats-wrap-main{
    padding: 0 !important;
  }
  .cat-text-holder{
    position: absolute;
    color: white;
    top: 116px;
    font-weight: 900;
    font-size: 17px;
    width: 100%;
    text-align: center;

  }

  ul li {
    list-style: none;
  }
  .btn:hover, 
  .btn:focus{
    outline: none;
    box-shadow: none;
  }

  .navbar-toggle {
    background-color: #000;
  }
  .sm-forms{
    display: none;
  }

  /*==================================================
  =            Bootstrap 3 Media Queries             =
  ==================================================*/

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
    .my-form-control {
      width: 20%;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
    .my-form-control {
      width: 20%;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .nav-vertical-seperator{
      display: none;
    }
    .my-form-control {
      width: 100%;
    }
    .left-sidebar h2, .brands_products h2 {
      margin-bottom: 0;
    }
    .my-nav{
      margin-bottom: 0;
    }
    .my-navbar-right{
      padding-left: 20px;
      width: 100%;
    }
    .my-navbar-right li{
      width: 100%;
    }
    .my-navbar-left{
      border-top: none;
      margin-top: 0;   
    }
    .ads-warps{
      padding: 0;
    }
    .features_items {
      margin-top: 22px;
    }
    .flash-notification .alert {
      margin-top: 0px;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    .my-form-control {
      width: 100%;
    }
    .left-sidebar h2, .brands_products h2 {
      margin-bottom: 0;
    }
    .sm-forms{
      display: block;
    }
    .lg-forms{
      display: none !important;
    }
    .my-nav{
      margin-bottom: 0;
    }
    .my-navbar-right{
      padding-left: 20px;
    }
    .my-navbar-left{
      border-top: none;
      margin-top: 0;   
    }
    #search-for-ad{
      width: 100%
    }
    .ads-warps{
      padding: 0;
    }
    .features_items {
      margin-top: 22px;
    }
    .flash-notification .alert {
      margin-top: 0px;
    }


  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
    .my-form-control {
      width: 100%;
    }
    .left-sidebar h2, .brands_products h2 {
      margin-bottom: 0;
    }
    .my-nav{
      margin-bottom: 0;
    }
    .my-navbar-right{
      padding-left: 20px;
    }
    .lg-forms{
      display: none !important;
    }
    .my-navbar-left{
      border-top: none;
      margin-top: 0;   

    }
    #search-for-ad{
      width: 100%
    }
    .ads-warps{
      padding: 0;
    }
    .features_items {
      margin-top: 22px;
    }
    .flash-notification .alert {
      margin-top: 0px;
    }

  }

  .controls,.e_controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  #pac-input, #e_pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 80% !important;
    margin: 3px 0 0 3px !important;
    height: 36px !important;
  }

  #pac-input:focus, #e_pac-input:focus {
    z-index: 9999;
    border-color: #4d90fe;
  }
  .pac-container, .e_pac-container {
    z-index: 9999;
    font-family: Roboto;
  }
  .pac-item, .e_pac-item{
    z-index: 9999;
  }
  #type-selector, #e_type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }
  #type-selector label, #e_type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  #mylocation1{
    right: 0 !important;
    left:auto !important;
  }       
  @media only screen and (max-width : 850px) {
    #type-selector{
      left: 136px !important;
      top: 32px !important;
      width: 300px !important;
      border-radius: 0 !important;
    }

  }
  @media only screen and (max-width : 620px) {

  }

  #overlay-blur{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 9999999999;

    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
  }
  #overlay-blur-wt{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.5;
    z-index: 9999999999;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
  }
  #overlay-glass-wt{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 9999999999;
    opacity: 0.5;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='10' /></filter></svg>#svgMask");*/
  }
  #ovtpr{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 9999;
    opacity: 0.5;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='10' /></filter></svg>#svgMask");*/
  }

    
  #oltext{
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    top: 200px;
    color: white;
    opacity: 1;
    z-index: 99999999991;
  }

  #lwposting,#lw4,#lw3,#lwgen,#lw2,#lw{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;    
  }

  @keyframes blink {50% { color: transparent }}
  .loader__dot { animation: 1s blink infinite }
  .loader__dot:nth-child(2) { animation-delay: 250ms }
  .loader__dot:nth-child(3) { animation-delay: 500ms }

  .loader__dot{
    font-size: 35px;
  }
  .ltext{
    width: 88%;
    position: relative;
    top: 200px;
    color:#292b2c;
    margin: 0 auto;
    background: white;
    opacity: 1;
    z-index: 99999999991;
    border-radius: 1px;
    box-shadow: 0px 0px 1px #949494;
  }
  #wgl,#ctu{
    transition: all 0.3s ease;
  }
  .ltext #inner{
    padding: 10px;
  }
  .ltext #inner #txt{
    font-size: 16px;
    font-weight: 900;
  }
  .ltext #inner #gf{

  }

  #qkpcl{
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 35px;
    border-radius: 0;
  }

  #clbtn {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }
  .button-r {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border:none !important;
    background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    color: #fff;
    background-color: #5bc0de;
  }
  #_rc{
    position: fixed;
    left: 9px;
    top: 10px;
    z-index: 9999;
  }    
  #qbtn-wrap{
    position: fixed;
    right: 9px;
    bottom: 60px;
    z-index: 9999;
  }    
  #sbtn-wrap{
    position: fixed;
    left: 9px;
    bottom: 60px;
    z-index: 9999;
  }    
  #gbtn-wrap{
    /*background-image: url("img/compass.png")*/;
    position: fixed;
    right: 9px;
    top: 9px;
    z-index: 9999;
  } 
  #cbtn-wrap{
    /*background-image: url("img/compass.png")*/;
    position: fixed;
    left: 68px;
    bottom: 60px;
    z-index: 9999;
  } 

  .strad{
    border-radius: 0;
    border-top:0;
  }
  #tc{
    margin-top: 4px;
  }
  .button-r{
    box-shadow: 0 2px 8px #888888;
  }
  #p3c{
    float: left;
    position: relative;
    margin-bottom: 50px;
  }
  #dif{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
  }
  .picon{
    font-size: 25px;
    padding-top: 3px;
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .qkpost_dialog{
      width: 100% !important;
      padding: 10px !important;
      margin: 0 !important;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    .qkpost_dialog{
      width: 100% !important;
      padding: 2px !important;
      margin: 0 !important;
    }
    .modal{
      padding-right: 0 !important;
    }
  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
    .qkpost_dialog{
      width: 100% !important;
      padding: 2px !important;
      margin: 0 !important;
    }  
    .modal{
      padding-right: 0 !important;
    }
  }
  .col-no-padding{
    padding-left: 0;
    padding-right: 0;
  }

  .flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
  }
  .my-item{
    cursor: zoom-in;
  }

  .flex-video.widescreen { padding-bottom: 57.25%; }
  .flex-video.vimeo { padding-top: 0; }

  .flex-video video,
  .flex-video object,
  .flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-device-width: 800px),  
  only screen and (device-width:1024px) and (device-height: 600px), only screen 

  and (width: 1280px) and (orientation: landscape), only screen 

  and (device-width: 800px), only screen and (max-width: 767px) {

    .flex-video { padding-top: 0; }
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .qkpost_dialog{
      width: 100% !important;
      padding: 10px !important;
      margin: 0 !important;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    .qkpost_dialog{
      width: 100% !important;
      padding: 2px !important;
      margin: 0 !important;
    }
    .modal{
      padding-right: 0 !important;
    }
  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
    .qkpost_dialog{
      width: 100% !important;
      padding: 2px !important;
      margin: 0 !important;
    }  
    .modal{
      padding-right: 0 !important;
    }
  }


  .anim {
    transition: all 0.5s ease !important;
  }
  ._required{
    font-weight: 300;
    font-size: 12px;        
  }
  #qkpost-map-container{
    margin-top: 15px;
  }
  .col-no-padding{
    padding-left: 0;
    padding-right: 0;
  }
  .eac-description{
    width: 100% !important;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  .error-feedback{
    color: #d9534f;
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .smodal{
      width: 30% !important;
      margin: 30px auto;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    .smodal{
      width: 50% !important;
      margin: 30px auto;    
    }
    .modal{
      padding-right: 0 !important;
    }
  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
    .smodal{
      width: 60% !important;
      margin: 30px auto;
    }  
    .modal{
      padding-right: 0 !important;
    }
  }
#fpmap{
  float: left;
  width: 100%;
  border:none;
  padding: 0;
}
/*COMMENTS*/
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
  display: table;
  clear: both;
}

.blog-comment{
/*  padding-left: 3%;
  padding-right: 3%;*/
}

.blog-comment ul{
  list-style-type: none;
  padding: 0;
}

.blog-comment img{
  opacity: 1;
  filter: Alpha(opacity=100);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
       -o-border-radius: 4px;
      border-radius: 4px;
}

.blog-comment img.avatar {
  position: relative;
  float: left;
  margin-left: 0;
  margin-top: 0;
  width: 65px;
  height: 65px;
}
.npad{
  padding:0 !important;
}
.mtop{
  margin-top: 20px;
}
.gm-style-iw{
  /*left: 27px !important;*/
}
p.m-vad {
  cursor: pointer;
  float: left;
  font-weight: bold;
  text-decoration: underline;
  color: #337ab7;
}
._atitl{
  text-transform: uppercase;
  font-weight: bold;
}
._ades{
  color: #8e8e93;
}
.sendcomment{
  position: relative;
  width: 100%;
  float: left;
}
.sendcomment textarea{
  width: 70%;
  resize: none;
  height: 90px;
  border: none;
}
.comrw .rating-xs{
  font-size: 1em !important;
}
.drivebtnm{
    /* padding-top: 13px; */
    /* padding: 10px; */
    /* padding: 13px 21px; */
    margin-bottom: 42px;
    /* left: 0; */
    /* margin-left: -20px; */
    /* height: 50px; */
    line-height: 43px;
    float: right;
    margin-right: 10px;
    margin-top: 1px;
}
.sendcomment a{
  position: absolute;
  right: 8px;
  top: 17px;
}

.blog-comment .post-comments{
  border: 1px solid #eee;
  padding: 10px 20px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  color: #6b6e80;
  position: relative;
}
#hashtagsearch{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    background: none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: block;
    padding: 0px;
    margin: 0;
    width: 100%;
    height: 43px;
    color: #000;
    font-size: 17px;
    font-family: inherit;
}
.blog-comment .meta {
  font-size: 13px;
  color: #aaaaaa;
  padding-bottom: 8px;
  margin-bottom: 10px !important;
  border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
  list-style-type: none;
  padding: 0;
  margin-left: 85px;
}

.blog-comment-form{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
  margin-bottom: 40px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
}
.post-images-div, .e-post-images-div {
    width: 100%;
    position: relative;
    float: left;
    margin-top: 10px;
}
.post-images-div span, .e-post-images-div span {
    position: absolute;
    padding: 0 10px;
    background: rgb(193, 193, 193);
    border-radius: 3px;
    right: 0;
    top: 0;
}

