  body {
    font-size: 16px !important;
  }
  .searchbar {
    background: white !important;
  }
  /*NAVABR CUSTOM COOP*/
  .nav-vertical-seperator{
    line-height: 49px;
    color: whitesmoke;

  }
  .gm-style .gm-style-iw {
    font-size: 14px !important;
  }
  .btn-social.btn-sm>:first-child {
      line-height: 36px !important;
  }
  /*END*/
  .label-div-s,.label-div-p,.label-div-i{
    /*padding: 3px 0;*/
  }
  .list-block input[type="text"], .list-block input[type="password"], .list-block input[type="search"], .list-block input[type="email"], .list-block input[type="tel"], .list-block input[type="url"], .list-block input[type="date"], .list-block input[type="datetime-local"], .list-block input[type="time"], .list-block input[type="number"], .list-block select, .list-block textarea{
    font-size: 19px !important;
  }
  .list-block {
      font-size: 19px !important;
  }
  .btn {
    font-size: 16px !important;
  }
  #pi{
    -webkit-transition: opacity 1s;
    transition: opacity 1s;  
  }
  .nat{
    font-weight: bold !important;
    font-size: 26px !important;
  }
  .nades{
    font-size: 16px !important;
  }
  .mttop{
    position: absolute;
    top: 20px;
    left: 2%;
    z-index: 99999;
    width: 96%;
    height: 200px !important;
    border: 1px #a2a2a2 solid !important;
    -webkit-box-shadow: 0px 0px 26px 0px rgba(50, 50, 50, 1) !important;
    -moz-box-shadow: 0px 0px 26px 0px rgba(50, 50, 50, 1) !important;
    box-shadow: 0px 0px 26px 0px rgba(50, 50, 50, 1) !important;
  }
  .hunh{
    height: 1000px;
  }
  .list-block .item-title.label7 {
  width: 35%;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  }
  .list-block .item-title.label7 {
  vertical-align: top;
  }
  /*My LOADING GIF*/
  .cssload-loader {
    margin-top: 40px;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    perspective: 1200;
    -o-perspective: 1200;
    -ms-perspective: 1200;
    -webkit-perspective: 1200;
    -moz-perspective: 1200;
  }

  .cssload-flipper {
    position: relative;
    display: block;
    height: inherit;
    width: inherit;
    animation: cssload-flip 1.38s infinite ease-in-out;
    -o-animation: cssload-flip 1.38s infinite ease-in-out;
    -ms-animation: cssload-flip 1.38s infinite ease-in-out;
    -webkit-animation: cssload-flip 1.38s infinite ease-in-out;
    -moz-animation: cssload-flip 1.38s infinite ease-in-out;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
  }

  .cssload-front,
  .cssload-back {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: rgba(0,174,255,0.83);
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }

  .cssload-back {
    background-color: rgb(0,0,0);
    z-index: 800;
    transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
  }



  @keyframes cssload-flip {
    0% {
      transform: perspective(135px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(135px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      transform: perspective(135px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  @-o-keyframes cssload-flip {
    0% {
      -o-transform: perspective(135px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      -o-transform: perspective(135px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      -o-transform: perspective(135px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  @-ms-keyframes cssload-flip {
    0% {
      -ms-transform: perspective(135px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      -ms-transform: perspective(135px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      -ms-transform: perspective(135px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  @-webkit-keyframes cssload-flip {
    0% {
      -webkit-transform: perspective(135px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      -webkit-transform: perspective(135px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      -webkit-transform: perspective(135px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  @-moz-keyframes cssload-flip {
    0% {
      -moz-transform: perspective(135px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      -moz-transform: perspective(135px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      -moz-transform: perspective(135px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
  /*MY LOADING GIF END*/
  .modal{
    z-index: 9999;
  }
  .break_all{
    word-break: break-all;
  }

  #city-search{
    background-color: #00AEFF;
    padding: 10px 10px 10px 10px;
    border-top: 1px dotted #039BE2;
  }
  .my-form-control{
    height: 24px !important;
    padding: 0px 11px !important;
    font-size: 12px !important;
  }

  .label-holder{
    padding: 0;
    bottom: 0;
    position: relative;
    width: 100%;
    margin-bottom: 1px;
  }
  .label-div-s{
    background-color: #5cb85c;
  }
  .label-div-p{
    background-color: #337ab7;
  }
  .label-div-i{
    background-color: #5bc0de;
  }
  .my-col{
    padding-right: 3px !important;
    padding-left: 3px !important;
  }
  .my-nav{
    background: #00AEFF !important;
    border-radius: 0 !important;
    border: none;
  }
  .my-nav .navbar-nav>li>a {
    color: white;
  }
  .navbar-brand{
    color: white !important;
  }
  .navbar-toggle {
    background-color: transparent !important;
    border: none !important;
  }
  .qkpost-btn-sm{
    border-radius: 0;
    background: #00AEFF;
    border:none;
    border-top: 1px solid white;  
  }
  .tab-c{
    color: white;
    cursor: pointer;
  }
  .tab-active{
    border-bottom-width: 1px;
    border-style: none none solid;
    border-bottom-color: white;
  }
  .cat-image {
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
  }
  .cats-wrap-main{
    padding: 0 !important;
  }
  .cat-text-holder{
    position: absolute;
    color: white;
    top: 116px;
    font-weight: 900;
    font-size: 17px;
    width: 100%;
    text-align: center;

  }

  ul li {
    list-style: none;
  }
  .btn:hover, 
  .btn:focus{
    outline: none;
    box-shadow: none;
  }

  .navbar-toggle {
    background-color: #000;
  }
  .sm-forms{
    display: none;
  }

  /*==================================================
  =            Bootstrap 3 Media Queries             =
  ==================================================*/

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
    .my-form-control {
      width: 20%;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
    .my-form-control {
      width: 20%;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .nav-vertical-seperator{
      display: none;
    }
    .my-form-control {
      width: 100%;
    }
    .left-sidebar h2, .brands_products h2 {
      margin-bottom: 0;
    }
    .my-nav{
      margin-bottom: 0;
    }
    .my-navbar-right{
      padding-left: 20px;
      width: 100%;
    }
    .my-navbar-right li{
      width: 100%;
    }
    .my-navbar-left{
      border-top: none;
      margin-top: 0;   
    }
    .ads-warps{
      padding: 0;
    }
    .features_items {
      margin-top: 22px;
    }
    .flash-notification .alert {
      margin-top: 0px;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    .my-form-control {
      width: 100%;
    }
    .left-sidebar h2, .brands_products h2 {
      margin-bottom: 0;
    }
    .sm-forms{
      display: block;
    }
    .lg-forms{
      display: none !important;
    }
    .my-nav{
      margin-bottom: 0;
    }
    .my-navbar-right{
      padding-left: 20px;
    }
    .my-navbar-left{
      border-top: none;
      margin-top: 0;   
    }
    #search-for-ad{
      width: 100%
    }
    .ads-warps{
      padding: 0;
    }
    .features_items {
      margin-top: 22px;
    }
    .flash-notification .alert {
      margin-top: 0px;
    }


  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
    .my-form-control {
      width: 100%;
    }
    .left-sidebar h2, .brands_products h2 {
      margin-bottom: 0;
    }
    .my-nav{
      margin-bottom: 0;
    }
    .my-navbar-right{
      padding-left: 20px;
    }
    .lg-forms{
      display: none !important;
    }
    .my-navbar-left{
      border-top: none;
      margin-top: 0;   

    }
    #search-for-ad{
      width: 100%
    }
    .ads-warps{
      padding: 0;
    }
    .features_items {
      margin-top: 22px;
    }
    .flash-notification .alert {
      margin-top: 0px;
    }

  }

  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
  }
  #pac-input:focus {
    z-index: 9999;
    border-color: #4d90fe;
  }
  .pac-container {
    z-index: 9999;
    font-family: Roboto;
  }
  .pac-item{
    z-index: 9999;
  }
  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }
  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  #a{
    position: absolute;
    width: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #b{
    position: absolute;
    width: 100%;
    left: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #c{
    position: absolute;
    width: 100%;
    left: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #mylocation1{
    right: 0 !important;
    left:auto !important;
  }       
  @media only screen and (max-width : 850px) {
    #type-selector{
      left: 136px !important;
      top: 32px !important;
      width: 300px !important;
      border-radius: 0 !important;
    }

  }
  @media only screen and (max-width : 620px) {

  }

  #overlay-blur{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 9999999999;

    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
  }
  #overlay-blur-wt{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.5;
    z-index: 9999999999;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
  }
  #overlay-glass-wt{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 9999999999;
    opacity: 0.5;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='10' /></filter></svg>#svgMask");*/
  }
  #ovtpr{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 9999;
    opacity: 0.5;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='10' /></filter></svg>#svgMask");*/
  }

    
  #oltext{
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    top: 200px;
    color: white;
    opacity: 1;
    z-index: 99999999991;
  }

  #lwposting,#lw4,#lw3,#lwgen,#lw2,#lw{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;    
  }
  #pac-input{
    width: 80% !important;
    margin: 3px 0 0 3px !important;
    height: 36px !important;
  }
  @keyframes blink {50% { color: transparent }}
  .loader__dot { animation: 1s blink infinite }
  .loader__dot:nth-child(2) { animation-delay: 250ms }
  .loader__dot:nth-child(3) { animation-delay: 500ms }

  .loader__dot{
    font-size: 35px;
  }
  .ltext{
    width: 88%;
    position: relative;
    top: 200px;
    color:#292b2c;
    margin: 0 auto;
    background: white;
    opacity: 1;
    z-index: 99999999991;
    border-radius: 1px;
    box-shadow: 0px 0px 1px #949494;
  }
  #wgl,#ctu{
    transition: all 0.3s ease;
  }
  .ltext #inner{
    padding: 10px;
  }
  .ltext #inner #txt{
    font-size: 16px;
    font-weight: 900;
  }
  .ltext #inner #gf{

  }

  #qkpcl{
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 35px;
    border-radius: 0;
  }

  #clbtn {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }
  .button-r {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border:none !important;
    background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    color: #fff;
    background-color: #5bc0de;
  }
  #_rc{
    position: fixed;
    left: 9px;
    top: 10px;
    z-index: 9999;
  }    
  #qbtn-wrap{
    position: fixed;
    right: 9px;
    bottom: 60px;
    z-index: 9999;
  }    
  #sbtn-wrap{
    position: fixed;
    left: 9px;
    bottom: 60px;
    z-index: 9999;
  }    
  #gbtn-wrap{
    /*background-image: url("img/compass.png")*/;
    position: fixed;
    right: 9px;
    top: 9px;
    z-index: 9999;
  } 
  #cbtn-wrap{
    /*background-image: url("img/compass.png")*/;
    position: fixed;
    left: 68px;
    bottom: 60px;
    z-index: 9999;
  } 

  .strad{
    border-radius: 0;
    border-top:0;
  }
  #tc{
    margin-top: 4px;
  }
  .button-r{
    box-shadow: 0 2px 8px #888888;
  }
  #p3c{
    float: left;
    position: relative;
    margin-bottom: 50px;
  }
  #dif{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
  }
  .picon{
    font-size: 25px;
    padding-top: 3px;
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .qkpost_dialog{
      width: 100% !important;
      padding: 10px !important;
      margin: 0 !important;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    .qkpost_dialog{
      width: 100% !important;
      padding: 2px !important;
      margin: 0 !important;
    }
    .modal{
      padding-right: 0 !important;
    }
  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
    .qkpost_dialog{
      width: 100% !important;
      padding: 2px !important;
      margin: 0 !important;
    }  
    .modal{
      padding-right: 0 !important;
    }
  }
  .col-no-padding{
    padding-left: 0;
    padding-right: 0;
  }

  .flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
  }
  .my-item{
    cursor: zoom-in;
  }

  .flex-video.widescreen { padding-bottom: 57.25%; }
  .flex-video.vimeo { padding-top: 0; }

  .flex-video video,
  .flex-video object,
  .flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-device-width: 800px),  
  only screen and (device-width:1024px) and (device-height: 600px), only screen 

  and (width: 1280px) and (orientation: landscape), only screen 

  and (device-width: 800px), only screen and (max-width: 767px) {

    .flex-video { padding-top: 0; }
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .qkpost_dialog{
      width: 100% !important;
      padding: 10px !important;
      margin: 0 !important;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    .qkpost_dialog{
      width: 100% !important;
      padding: 2px !important;
      margin: 0 !important;
    }
    .modal{
      padding-right: 0 !important;
    }
  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
    .qkpost_dialog{
      width: 100% !important;
      padding: 2px !important;
      margin: 0 !important;
    }  
    .modal{
      padding-right: 0 !important;
    }
  }


  .anim {
    transition: all 0.5s ease !important;
  }
  ._required{
    font-weight: 300;
    font-size: 12px;        
  }
  #qkpost-map-container{
    margin-top: 15px;
  }
  .col-no-padding{
    padding-left: 0;
    padding-right: 0;
  }
  .eac-description{
    width: 100% !important;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  .error-feedback{
    color: #d9534f;
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .smodal{
      width: 30% !important;
      margin: 30px auto;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    .smodal{
      width: 50% !important;
      margin: 30px auto;    
    }
    .modal{
      padding-right: 0 !important;
    }
  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
    .smodal{
      width: 60% !important;
      margin: 30px auto;
    }  
    .modal{
      padding-right: 0 !important;
    }
  }
#fpmap{
  float: left;
  width: 100%;
  border:none;
  padding: 0;
}
/*COMMENTS*/
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
  display: table;
  clear: both;
}

.blog-comment{
/*  padding-left: 3%;
  padding-right: 3%;*/
}

.blog-comment ul{
  list-style-type: none;
  padding: 0;
}

.blog-comment img{
  opacity: 1;
  filter: Alpha(opacity=100);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
       -o-border-radius: 4px;
      border-radius: 4px;
}

.blog-comment img.avatar {
  position: relative;
  float: left;
  margin-left: 0;
  margin-top: 0;
  width: 65px;
  height: 65px;
}
.npad{
  padding:0 !important;
}
.mtop{
  margin-top: 20px;
}
.gm-style-iw{
  /*left: 27px !important;*/
}
p.m-vad {
  cursor: pointer;
  float: left;
  font-weight: bold;
  text-decoration: underline;
  color: #337ab7;
}
._atitl{
  text-transform: uppercase;
  font-weight: bold;
}
._ades{
  color: #8e8e93;
}
.sendcomment{
  position: relative;
  width: 100%;
  float: left;
}
.sendcomment textarea{
  width: 70%;
  resize: none;
  height: 90px;
  border: none;
}
.comrw .rating-xs{
  font-size: 1em !important;
}
.drivebtnm{
    /* padding-top: 13px; */
    /* padding: 10px; */
    /* padding: 13px 21px; */
    margin-bottom: 42px;
    /* left: 0; */
    /* margin-left: -20px; */
    /* height: 50px; */
    line-height: 43px;
    float: right;
    margin-right: 10px;
    margin-top: 1px;
}
.sendcomment a{
  position: absolute;
  right: 8px;
  top: 17px;
}

.blog-comment .post-comments{
  border: 1px solid #eee;
  padding: 10px 20px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  color: #6b6e80;
  position: relative;
}
#hashtagsearch{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    background: none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: block;
    padding: 0px;
    margin: 0;
    width: 100%;
    height: 43px;
    color: #000;
    font-size: 17px;
    font-family: inherit;
}
.blog-comment .meta {
  font-size: 13px;
  color: #aaaaaa;
  padding-bottom: 8px;
  margin-bottom: 10px !important;
  border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
  list-style-type: none;
  padding: 0;
  margin-left: 85px;
}

.blog-comment-form{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
  margin-bottom: 40px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
}